<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
  <p class="font-weight-bold">{{popupLabel}} user</p>
  <div class="form-group">
    <label for="name">Employee Name</label>
    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Employee Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
  </div>

  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
      <div *ngIf="f.name.errors.required">Title is required</div>
  </div>

  <div class="form-group">
    <label for="salary">Employee Salary</label>
    <input type="text" class="form-control" id="salary" formControlName="salary" placeholder="Employee Salary" [ngClass]="{ 'is-invalid': submitted && f.salary.errors }">
  </div>

  <div *ngIf="submitted && f.salary.errors" class="invalid-feedback">
      <div *ngIf="f.salary.errors.required">Title is required</div>
  </div> 

  <div class="form-group">
    <label for="age">Employee Age</label>
    <input type="text" class="form-control" id="age" formControlName="age" placeholder="Employee Age" [ngClass]="{ 'is-invalid': submitted && f.age.errors }">
  </div>

  <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
      <div *ngIf="f.age.errors.required">Title is required</div>
  </div>

<button type="submit" class="btn btn-primary float-right">Save</button>
  <button class="btn btn-secondary float-right mr-2" type="reset" (click)="onReset()" data-dismiss="modal">Cancel</button>
</form>
