
<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Employee Name</th>
        <th scope="col">Employee Salary</th>
        <th scope="col">Employee Age</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of usersData">
        <th scope="row"></th>
        <td>{{item.employee_name}}</td>
        <td>{{item.employee_salary}}</td>
        <td>{{item.employee_age}}</td>
        <td>
          <button  type="button" class="btn btn-success mr-2" id="close-popup"  data-toggle="modal" data-target="#userModal"  (click)="editUserData(item)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteData(item)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- loader start -->
  <ng-container *ngIf="showLoader">
    <div class="d-flex align-items-center justify-content-center mt-5">
      <div class="loader"></div>
    </div>
  </ng-container>
  <!-- loader end -->
</div>

<div id="snackbar" class="btn-success"></div>

<!-- user form modal start -->
  <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true" *ngIf="editUser">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)= "closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ng-container *ngIf="popupTitle == 'Add'">
            <app-user-form (loadDataEvent)="loadData($event)" [popupLabel]="popupTitle" (cancelForm)="closeModal($event)" ></app-user-form>
          </ng-container>
          <ng-container *ngIf="popupTitle == 'Edit'">
            <app-user-form [userEditData]="userDetails" [popupLabel]="popupTitle"  (loadDataEvent)="loadData($event)" (cancelForm)="closeModal($event)" ></app-user-form>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
<!-- user form modal end -->

<button type="button" class="btn btn-primary add-button" id="close-popup"  data-toggle="modal" data-target="#userModal"  (click)="addUserData()"><span>+</span></button>