main {
	background: url('/assets/images/home-bg.jpeg') no-repeat center center / cover;
	height: 100%;
	width: 100%;
	display: inline-block; 
	.list-container {
		margin-top: 6em;
		display: flex;
		justify-content: center;
	}
} 
